name: Sphinx
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache conda packages
        uses: actions/cache@v3
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 1
        with:
          path: |
            /usr/share/miniconda/pkgs/*.conda
            /home/runner/.conda/pkgs/*.conda
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('pyproject.toml') }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          architecture: "x64"
          cache: "pip"
      - name: Setup conda
        run: |
          echo "experimental: [jlap]" >> ~/.condarc
          $CONDA/bin/conda info
          # conda init doesn't do what we want here
      - name: Build Documentation
        shell: bash -l {0}
        run: |
          $CONDA/bin/conda create --quiet -n conda-index pip conda
          source $CONDA/envs/conda-index/bin/activate
          # $CONDA/bin/conda activate conda-index # if this worked, we wouldn't need "conda run"
          # $CONDA/bin/conda run -n conda-index pip install -e ".[docs]"
          # $CONDA/bin/conda run -n conda-index make html
          pip install -e ".[docs]"
          make html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: 'build/html'

  pages:

    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [sphinx]

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
